@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your stylesheet */
.custom-heading {
  font-family: var(--font-permanent-marker), sans-serif;
}
.custom-para1{
  font-family: var(--font-roboto-condensed), sans-serif;
  
  font-style: normal;
}
